<h2>Main Page</h2>
<p>
To begin, create a profile or sign in with Facebook.
</p>
<p>
Next, create a group by going to the Groups tab. 
</p>
<p>
Finally, go to Group and join a group.
</p>
<p>
Now that you are in a group, you can send messages to other members of the group by going to Messages and selecting “New message”. Fill in the relevant portions and create the message.
</p>
<p>
In groups you can view all of the groups. In a group you can navigate to the users, or go through the users pane. As a user, if the messages for your group have been released, you can view your messages.
</p>
<p>
The Group tab gives you the basic information on your group.
</p>
<p>
You may only view a message if the messages have been released or if you are the creator of the message. Only the founder of a group may release the messages. Upon viewing messages, you may download a JSON file of them
</p>