<h2>Main Page</h2>

Howdy! <%= current_user.name %> welcome to your nice things messaging system!
<br/>

Your user id is <%= current_user.id %>

<br/>
<br/>
<br/>



You are a member of <%= current_user.group.name %>


