body {
  background-color: #E1D4C0;
  color: black;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.navbar .nav > li > a {
  text-shadow: 0 1px 0 gray;
}

.navbar {
    background: #6699FF;
}

.nav {
  background: #6699FF;
}
.alert {
margin-top: 40px;
}
.navbar > .navbar-inner > .container {
  background: #6699FF;
}

.divider-vertical {
  background:#E1D4C0;
  border-left: 1px solid #E1D4C0;
border-right: 1px solid #E1D4C0;
}

.navbar-text {
  color:white;
}
.navbar > .navbar-inner > .container > .brand {
  background:#6699FF;
  color:white;
}

.navbar > .navbar-inner > .container > .brand > ul > li {
  color:white;
}

.navbar .nav > li > a {
  color:white;
}

.navbar > .navbar-inner {
  background: #6699FF;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
